
<form>
  <label for="figure_name">figure name: </label>
  <input id="figure_name" type="text" name="figure[name]" value="<% @figure.name %>">


  <h4>title</h4>
  <%	Title.all.each do |title| %>
    <input type="checkbox" name="figure[title_ids][]" value="title.id" <%= 'checked' if @figure.tltles.include?(title) %>><label><%=	title.name %></label><br>
  <%	end %>


  <h4>landmark</h4>
  <%	 Landmark.all.each do |landmark| %>
    <input type="checkbox" name="figure[landmark_ids][]" value="landmark.id" <%= 'checked' if @figure.tltles.include?(landmark) %>><label><%= landmark.name %></label><br>
  <%	 end %>
  <p>with a new landmark</p>
  <label>Name:</label>
  <input type="text" id="new_landmark" name="landmark[name]">
  <label>Year:</label>
  <input type="text" name="landmark[year_completed]">

  <input type="submit" value="Edit Figure">
</form>

