<form action="/landmarks" method="post">
  <input id="landmark_name" type="text" name="landmark[name]" value="">
  <input id="landmark_year_completed" type="text" name="landmark[year_completed]" value="">
  <input type="submit" name="submit" value="Create New Landmark">
</form>
